# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python/
env/
venv/
.venv/
prj/
md/
# Environments
.env
.streamlit/secrets.toml

# Database
*.db
*.sqlite
*.sqlite3
db_account.json

# frontend
node_modules/

# anothor
.DS_Store
*.log